.flex-holder {
  display: flex;
  max-width: $horizontal-width;
  gap: $horizontal-gutter;
  margin: auto;

  @include respond(tab-port) {
    flex-direction: column;
    width: 50%;
  }
}

.flex-child {
  &-1 {
    flex: 1;
  }
}