.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.5);
    position: absolute;
    transition: all 0.2s;

    &--p1 {
      top: -2rem;
      left: 0rem;
    }

    &--p2 {
      top: 2rem;
      right: 0rem;
    }

    &--p3 {
      top: 10rem;
      left: 20%;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 1rem 2rem 4rem rgba($color-black, 0.5);
      z-index: 5;
      outline: 1.5rem solid $color-primary;
      outline-offset: 1rem;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}