.tours-card {
  display: flex;
  gap: $horizontal-gutter;
  max-width: $horizontal-width;
  margin: auto;

  @include respond(tab-port) {
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  @include respond(phone) {
    width: 80%;
  }
}

.card {
  height: 52rem;
  width: 100%;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  margin-bottom: 10rem;

  &__side {
    height: 100%;
    width: 100%;
    transition: all 1s;
    position: absolute;
    top: 0;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0rem 1rem 2rem rgba($color-black, 0.15);

    &--front {
      background-color: white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &__picture {
    background-size: cover;
    height: 20rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url("../img/nat-5.jpg");
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url("../img/nat-6.jpg");
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url("../img/nat-7.jpg");
    }
  }

  &__heading {
    color: $color-white;
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 70%;
    text-align: right;

    &-span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;

      &--1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &--2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &--3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &__details {
    width: 80%;
    margin: 4rem auto;
    text-align: center;

    ul {
      list-style: none;

      li {
        font-weight: 600;
        font-size: 1.8rem;
        padding: 1rem 0rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__price-box {
    color: $color-white;
    margin-bottom: 8rem;

    &--only {
      text-transform: uppercase;
      font-size: 1.8rem;
    }

    &--value {
      font-size: 6rem;
      font-weight: 300;
    }
  }
}

@include respond(tab-port) {
  .card {
    height: auto;
    width: 100%;
    background-color: $color-white;
    box-shadow: 0rem 1rem 2rem rgba($color-black, 0.15);
  
    &__side {
      height: auto;
      width: 100%;
      position: relative;
      top: 0;
      box-shadow: none;
  
      &--back {
        transform: rotateY(0deg);
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
      }
    }
  
    &:hover &__side--front {
      transform: rotateY(0deg);
    }
  
    &:hover &__side--back {
      transform: rotateY(0deg);
    }
  
    &__cta {
      position: relative;
      top: 0%;
      left: 0%;
      transform: translate(0%, 0%);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }
  
    &__price-box {
      margin-bottom: 6rem;
  
      &--value {
        font-size: 4rem;
      }
    }
  }
}