.u-center-text { text-align: center; }

.u-margin-bottom-small { margin-bottom: 1.5rem; }
.u-margin-bottom-medium {
  margin-bottom: 4rem;

  @include respond(tab-port) {
    margin-bottom: 3rem;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem;

  @include respond(tab-port) {
    margin-bottom: 6rem;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  max-width: $horizontal-width;
  margin: auto;
  padding: 0rem 2rem;

  @include respond(tab-port) {
    flex-direction: column;
  }
}